
*.apk
*.apk
*.dex
*.json
*.jar
/.idea
/Athena/app/build
*.properties
/Athena/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-mn
/Athena/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-bg
/Athena/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-es
/Athena/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-ms
/Athena/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-be
/Athena/app/build/intermediates/stable_resource_ids_file/debug
.idea/workspace.xml
*.kts
